.App {
  text-align: center;
}

.one-off-gray {
  background: #eeeeef;
}

.App-logo {
  height: 180px;
  border-radius: 100%;
}

.App-logo-footer {
  width: 150px;
  height: 150px;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  margin: auto;
  padding: 20px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.tag {
  opacity: .7;
}

.btn-primary {
  background-color: #70bbe3;
}

.panel, .jumbotron {
  position: relative;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 100px;
  color: white;
  background: url("./img/bg-pattern.png"), #7b4397;
  background: url("./img/bg-pattern.png"), -webkit-linear-gradient(to left, #7b4397, #dc2430);
  background: url("./img/bg-pattern.png"), linear-gradient(to left, #7b4397, #dc2430);
}

footer .bg-primary {
  background: #fdcc52;
  background: -webkit-linear-gradient(#fdcc52, #fdc539);
  background: linear-gradient(#fdcc52, #fdc539);
}

footer ul {
  margin: 1em 0;
}

body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  border: 1px solid tomato;
  border-radius: 20px;
  padding: 1px;
  color: #616161;
  font-weight: bolder;
  opacity: 1;
}

.main-nav .active, .main-nav a:hover, .search-form button:hover {
  color: #fff;
  background: tomato;
  text-decoration: none;
}

a:hover {
  opacity: .4;
  transition: opacity .5s ease-in;
}

a>span {
  padding-left: 10px;
}

header {
  text-align: center;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 6px double #ff8811;
  transition: all .5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(5deg);
}

.tag {
  background-color: #efefef;
  color: black;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
}

.location {
  background-color: #222;
  color: yellow;
}

footer ul li, .jumbotron ul li {
  display: inline-block;
}

.jumbotron {
  padding-top: 5em;
}

button a {
  color: #fff;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: 1;
  transition: all .5s;
}

a.twitter {
  background-image: url(img/twitter.svg);
}

a.linkedin {
  background-image: url(img/linkedin.svg);
}

a.github {
  background-image: url(img/github.svg);
}

a.social:hover {
  opacity: .5;
}

.img-thumbnail {
  max-height: 45em;
}

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #FF9F1F;
}

.card h3 {
  padding: .7em;
}

.card h2 {
  border-bottom: 2px solid #ccc;
  color: #969696;
}

ul.skills {
  padding: 0;
  text-align: center;
  padding-top: 5px;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #ff9904;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}

.skills li.html, .skills li.react-router-dom, .skills li.search, .skills li.dns {
  background: #ff0000;
}

.skills li.css, .skills li.sass {
  background: #0399ff;
}

.skills li.api {
  background: #8821c4;
}

.skills li.php, .skills li.wordpress {
  background: gray;
}

.skills li.other, .skills li.strip, .skills li.sketch, .skills li.wix {
  background: #e62aed;
}

.skills li.reactjs {
  background: skyblue;
}

.skills li.github {
  background: black;
}

.skills li.svg {
  background: #5ee0c2;
}

.skills li.git {
  background: #3bdb55;
}

.skills li.javascript, .skills li.jsx, .skills li.d3js {
  background: #ff9904;
}

.skills li.documentation, .skills li.communication {
  background-color: teal;
}

.divider {
  border-top: 2px solid lightgray;
  display: inline-block;
  width: 50%;
  margin: 1em 0;
}

a.return-arrow {
  color: #fff;
  border: 3px solid tomato;
  background-color: tomato;
  font-size: 1.1em;
}

.return-arrow:hover {
  color: lightgray;
}

@media only screen and (min-width: 768px) {
  body {
    padding-top: 4em;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  ul.main-nav.nav {
    display: flex;
    justify-content: center;
  }
  .main-nav li {
    margin: 10px;
    width: 120px;
  }
}

.octicon {
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
}

h3.skills--header {
  border-bottom: 1px solid lightgray;
}

.badge-grid .row {
  margin-top: 5px;
  margin-bottom: 20px;
  /* padding: 50px; */
}